body{
    background-color: rgb(4, 2, 0);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{
    margin-bottom: 2rem;
}

h1{
    margin-bottom: 3rem;
}

.flex-container{
    display: flex;
}

.navbar li a{
    text-decoration: none;
    color: white;
    margin: 0.67rem 0.5rem;
    font-size: 1.2rem;
}

.navbar li{
    list-style-type: none;
    display: inline;
}

.navbar{
    flex-direction: row;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000;
}

.home{
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(38, 16, 0), #000, #000, #000 , rgb(38, 16, 0));
}

.home h1{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2.4rem;
    font-weight: 200;
}

.home h3{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
}

.home >*{
    margin: 0.25em auto;
}

img{
    width: 20vw;
    box-shadow: 0px 0px 10px rgb(255, 115, 0);
}

.box{
    width: 90vw;
    margin: 3em auto;
}

.left{
    flex-direction: row;
    margin-bottom: 8rem;
}

.left img{
    margin-right: 2em;
}

p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    margin: auto 0;
}

.right{
    flex-direction: row-reverse;
    margin-bottom: 8rem;
}

.right img{
    margin-left: 2em;
}

a img{
    height: 30px;
    width: 30px;
}

p{
    line-height: 2rem;
}

.contact{
    flex-direction: row;
    height: 30vh;
    margin: auto 0 0 0;
    background-color: #121212;
    justify-content: center;
}

.contact a{
    margin: auto 1rem;
}

a img{
    width: 30px;
    box-shadow: none;
}

@media only screen and (max-width: 900px){
    .left{
        flex-direction: column;
    }
    .left img{
        width: 100%;
        margin: 2rem 0;

    }

    .right{
        flex-direction: column;
    }
    .right img{
        width: 100%;
        margin: 2rem 0;

    }

}

@media only screen and (max-width: 400px){
    .navbar li a{
        margin: 0.67rem 0.2rem 
    }
}

a img:hover{
    animation: pop 0.2s ease-in 0s 1 normal forwards;
}

@keyframes pop{
    to{transform: scale(1.2);}
}
